.footer-top{
    background-color: #eaeaea;
    width: 100%;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.footer-top-content h2{
    color: #293355;
    font-size: 35px;
    margin-bottom: 10px;
}
.footer-top-content p{
    padding: 20px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.61);
}
.footer-input{
    margin: 0 auto ;
    margin-top: 20px;
    width: 500px;
    display: flex;
}
.footer-input input{
    border: none;
    outline: none;
    background-color: #fff;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
}
.footer-btn{
    border: none;
    background-color: #293355;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px ;
    cursor: pointer;
    transition: all 0.4s ease;
}
.footer-btn:hover{
    opacity: 0.8;
}
::placeholder{
    color: #293355;
    
}
.footer-bottom{
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    
   
    justify-content: space-between;
}
.footer-bottom ul li{
    margin: 15px 0;
    
}

.footer-bottom ul li a{
    color: rgba(0, 0, 0, 0.459);
    cursor: pointer;
    transition: all 0.3s ease;
}
.footer-bottom ul li a:hover{
    color: #000;
}
.fo-ti{
    color: #293355;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;

}

.footer-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.footer-payment{
    display: flex;
    flex-wrap: wrap;
}
.footer-payment img{
    margin: 0 5px;
    cursor: pointer;
}
@media (max-width:1050px){
    .footer-bottom ul {
        margin: 0 10px;
    }

}
@media (max-width:590px){
    .footer-bottom ul {
        margin: 0 10px;
    }

}
@media (max-width:500px){
    .footer-input{
        width: 350px;
    }
}
@media (max-width:360px){
    .footer-input{
        width: 250px;
    }
    .fo-ti{
        margin-top: 10px;
    }
}