.modal{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.274) ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.modal-content{
    border-radius: 8px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 2;
    width: 455px;
    padding: 2rem;
    background-color: #fff;
    z-index: 10;
    
    
    color: #000;
    transition: all 2s ease;
}
.modal-icon{
    background-color:#293355 ;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.modal-content h1{
    color: #293355 ;
    margin: 20px 0;
    font-size: 30px;
}
.modal-content p{
    margin: 20px 0;
}
.line3{
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: #2933556c;
    margin-bottom: 30px;
}
.signin-form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.signin-form label{
    margin: 10px 0;
}
.signin-form input{
    width: 400px;
    
    height: 35px;
    border: 1px solid rgba(0, 0, 0, 0.247);
}
.email-input{
    margin-bottom: 15px;
}
.last-input{
    margin-bottom: 30px;
}
.signin-form button{
    background-color: #293355;
    border: 1px solid #293355;
    margin-top: 30px;
    color: #fff;
    padding: 15px 25px;
    width: 250px;
    font-weight: 600;
    transition: all 0.5s ease;
    width: 150px;
    margin-bottom: 20px;

}
.signin-form button:hover{
    background-color: #fff;
    color: #293355;
    cursor: pointer;
}